@import "tailwindcss";

@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  :root {
    --background: #0a0a0a;
    --foreground: #fff7e9;
    --blur-strength: 6px;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fff7e9;
    --blur-strength: 6px;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: clamp(14px, 1vw + 0.5rem, 16px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, sans-serif;
  /* Fix for font rendering differences in Windows */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1;
  text-rendering: optimizeLegibility;
  position: relative;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='26' fill='none' viewBox='0 0 24 26'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.69 2.69a2.357 2.357 0 0 1 2.495-.54L21.47 8.632a2.357 2.357 0 0 1-.255 4.494l-7.271 1.818-1.818 7.27a2.357 2.357 0 0 1-4.494.256L1.15 5.185a2.357 2.357 0 0 1 .54-2.495Z' fill='%23ffffff' stroke='%23ffffff' stroke-width='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.633 3.622A.786.786 0 0 0 2.62 4.633L9.103 21.92a.786.786 0 0 0 1.498-.086l2.047-8.185 8.185-2.046a.785.785 0 0 0 .086-1.498L3.633 3.622Z' fill='%23a855f7'/%3E%3C/svg%3E"),
    auto;
}

button,
input,
textarea {
  font-family: inherit;
}

@media (min-width: 768px) {
  #home::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25dvh;
    z-index: 40;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(10, 10, 10, 0.9) 0%,
      rgba(10, 10, 10, 0.7) 30%,
      rgba(10, 10, 10, 0.4) 70%,
      rgba(10, 10, 10, 0) 100%
    );
    backdrop-filter: blur(var(--blur-strength));
    -webkit-backdrop-filter: blur(var(--blur-strength));
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--background);
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

@media (prefers-color-scheme: dark) {
  input:-webkit-autofill {
    -webkit-text-fill-color: var(--background);
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
  }
}

.chat-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-window::-webkit-scrollbar {
  display: none;
}
